/* Reset & Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: radial-gradient(circle at top, #1a1a1a 0%, #111111 50%, #0a0a0a 100%);
    --title: #ffffff;
    --text: #e9e9e9;
    --description: #c0c0c0;
    --link: #afafaf;
    --accent: #ff0000;
    --seperator: #303030;
    --card-bg: #1c1c1ccc;
    --card-border: #2d2d2d;
    --language-bg: #272727f1;
}

body {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1000px;
    min-height: 100vh;
    background: var(--bg);
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    color: var(--text);
}

::selection {
    background-color: #ff000075;
    color: inherit;
}

h1 {
    color: var(--title);
    font-weight: 600;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

img {
    user-select: none;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    gap: 12px;
}

header nav .link {
    font-size: 22px;
    transition: all 0.15s ease;
}

header nav .link:hover {
    transform: translateY(-2px);
    scale: 1.05;
}

/* Main styles */
main {
    padding: 25px 50px;
}

/* Profile */
#profile .container {
    text-align: center;
}

#profile .picture {
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: var(--card-border) solid 4px;
}

#profile .intro {
    font-size: 32px;
}

#profile .intro span {
    color: var(--accent);
    animation: flicker 1s infinite;
    text-shadow: 0 0 24px #ff0000cc, 0 0 12px #ff0000cc;
}

#profile .bio {
    font-size: 15px;
    color: var(--description);
    margin-bottom: 15px;
}

#profile .links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#profile .links .link {
    font-size: 20px;
    transition: all 0.15s ease;
}

#profile .links .link:hover {
    color: var(--text);
    scale: 1.1;
}

/* Misc */
.seperator {
    margin: 25px 0;
    height: 2.5px;
    background: linear-gradient(to right, transparent, var(--seperator), transparent);
    border: none;
}

.section-title {
    font-size: 30px;
    user-select: none;
}

.section-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--description);
    margin-bottom: 15px;
    user-select: none;
}

.card {
    padding: 10px 15px;
    background: var(--card-bg);
    border: solid 3px var(--card-border);
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

/* Responvie styles */
@media (max-width: 768px) {
    /* Reset & Base styles */
    body {
        padding: 20px 0;
    }

    /* Header styles */
    header nav {
        gap: 16px;
    }

    header nav .link {
        font-size: 22px;
        transition: all 0.15s ease;
    }

    /* Main styles */
    /* Profile */
    #profile .picture {
        margin-bottom: 8px;
        width: 125px;
        border-radius: 12px;
        border: var(--card-border) solid 3px;
    }

    #profile .intro {
        font-size: 28px;
    }

    #profile .bio {
        font-size: 14px;
    }

    #profile .links {
        gap: 12px;
    }

    #profile .links .link {
        font-size: 18px;
    }

    /* Misc */
    .section-title {
        font-size: 27px;
    }

    .section-desc {
        font-weight: 400;
        font-size: 15px;
    }

    .card {
        border: solid 2px var(--card-border);
    }
}

@media (max-width: 480px) {
    /* Reset & Base styles */
    body {
        padding: 15px 0;
    }

    /* Header styles */
    header nav {
        gap: 18px;
    }

    header nav .link {
        font-size: 20px;
    }

    /* Main styles */
    
    main {
        padding: 25px 25px;
    }

    /* Profile */
    #profile .picture {
        width: 115px;
        border-radius: 8px;
    }

    #profile .intro {
        font-size: 24px;
    }

    #profile .bio {
        font-size: 12px;
    }

    #profile .links {
        gap: 14px;
    }

    #profile .links .link {
        font-size: 16px;
    }

    /* Misc */
    .section-title {
        font-size: 24px;
    }

    .section-desc {
        font-weight: 400;
        font-size: 10px;
    }
}