/* Reset & Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: radial-gradient(circle at top, #1a1a1a 0%, #111111 50%, #0a0a0a 100%);
    --title: #ffffff;
    --text: #e9e9e9;
    --description: #c0c0c0;
    --link: #afafaf;
    --accent: #ff0000;
    --seperator: #303030;
    --card-bg: #1c1c1ccc;
    --card-border: #2d2d2d;
    --language-bg: #272727f1;
}

body {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1000px;
    min-height: 100vh;
    background: var(--bg);
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    color: var(--text);
}

::selection {
    background-color: #ff000075;
    color: inherit;
}

h1 {
    color: var(--title);
    font-weight: 600;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

img {
    user-select: none;
}

/* Main styles */
main {
    padding: 25px 50px;
}

/* Profile */
#profile .container {
    text-align: center;
}

#profile .picture {
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: var(--card-border) solid 4px;
}

#profile .intro {
    font-size: 32px;
}

#profile .intro span {
    color: var(--accent);
    animation: flicker 1s infinite;
    text-shadow: 0 0 24px #ff0000cc, 0 0 12px #ff0000cc;
}

#profile .bio {
    font-size: 15px;
    color: var(--description);
    margin-bottom: 15px;
}

#profile .links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#profile .links .link {
    font-size: 20px;
    transition: all 0.15s ease;
}

#profile .links .link:hover {
    color: var(--accent);
    scale: 1.1;
}

/* Misc */
.seperator {
    margin: 25px 0;
    height: 2.5px;
    background: linear-gradient(to right, transparent, var(--seperator), transparent);
    border: none;
}

.section-title {
    font-size: 30px;
    user-select: none;
}

.section-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--description);
    margin-bottom: 15px;
    user-select: none;
}

.card {
    padding: 10px 15px;
    background: var(--card-bg);
    border: solid 3px var(--card-border);
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

/* About Me */
#about-me {
    margin-bottom: 25px;
}

#about-me .card {
    border-color: #ff000060;
}

#about-me .card .text {
    font-size: 18px;
}

#about-me .card .text #fav-game,
#about-me .card .text #fav-game-pt {
    color: var(--title);
    transition: all 0.3s ease;
}

#about-me .card .text #fav-game:hover {
    color: var(--accent);
}

/* Experience */
#experience .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 12px;
}

#experience .card {
    padding: 20px;
}

#experience .card .container {
    display: flex;
    align-items: center;
    gap: 12px;
}

#experience .card i {
    font-size: 19px;
    color: var(--title);
    text-align: center;
}

#experience .card .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#experience .card .role {
    font-size: 17px;
    font-weight: 500;
    color: var(--description);
    user-select: none;
}

#experience .card .timeframe {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--link);
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}

#experience .card .timeframe i {
    font-size: 14px;
    color: var(--link);
    text-align: center;
}

/* Projects */
#projects .info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projects .info-container .sorting {
    display: flex;
    align-items: center;
    gap: 12px;
}

#projects .info-container .sorting button {
    font-family: 'Instrument Sans', sans-serif;
    color: var(--description);
    transition: all 0.3s ease;
    cursor: pointer;
}

#projects .info-container .sorting button:hover {
    color: var(--text);
    border: solid 3px var(--accent);
    border-radius: 4px;
    scale: 1.1;
}

#projects .info-container .sorting .active {
    color: var(--title);
    border: solid 3px var(--accent);
    border-radius: 4px;
    cursor: default;
}

#projects .info-container .sorting .active:hover {
    scale: 1;
}

#projects .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
    gap: 12px;
}

#projects .project {
    padding: 10px;
    display: flex;
    gap: 12px;
    align-items: center;
    box-shadow: 0 0 8px var(--card-bg);
    transition: all 0.3s ease;
}

#projects .project:hover {
    border-color: #ff0000;
    box-shadow: 0 0 8px #ff0000;
    transform: scale(1.025)
}

#projects .project .icon {
    width: 75px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#projects .project .info {
    margin-bottom: 5px;
}

#projects .project .info .title {
    font-weight: 600;
    font-size: 20px;
    color: var(--text);
}

#projects .project .info .desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--description);
    user-select: none;
}

#projects .project .info .languages {
    margin-top: 5px;
    padding: 3px 6px;
    width: fit-content;
    background-color: var(--language-bg);
    border-radius: 7px;
    font-size: 12px;
    color: var(--description);
    user-select: none;
}

#projects .project .info .cs {
    color: #178600;
    text-shadow: 0 0 12px #178600b0;
}

#projects .project .info .us {
    color: #a54c4d;
    text-shadow: 0 0 12px #a54c4db0;
}

#projects .project .info .gsc {
    color: #ff6800;
    text-shadow: 0 0 12px #ff6800b0;
}

#projects .project .info .js {
    color: #f1e05a;
    text-shadow: 0 0 12px #f1e05ab0;
}

#projects .project .info .css {
    color: #663399;
    text-shadow: 0 0 12px #663399b0;
}

#projects .project .info .html {
    color: #e34c26;
    text-shadow: 0 0 12px #e34c26b0;
}

#projects .project .info .lua {
    color: #000080;
    text-shadow: 0 0 12px #000080b0;
}

/* Responvie styles */
@media (max-width: 768px) {
    /* Main styles */
    /* Profile */
    #profile .picture {
        margin-bottom: 8px;
        width: 125px;
        border-radius: 12px;
        border: var(--card-border) solid 3px;
    }

    #profile .intro {
        font-size: 28px;
    }

    #profile .bio {
        font-size: 14px;
    }

    #profile .links {
        gap: 12px;
    }

    #profile .links .link {
        font-size: 18px;
    }

    /* Misc */
    .section-title {
        font-size: 27px;
    }

    .section-desc {
        font-weight: 400;
        font-size: 15px;
    }

    .card {
        border: solid 2px var(--card-border);
    }

    /* About Me */
    #about-me .card .text {
        font-size: 13.5px;
    }
    
    /* Experience */
    #experience .card {
        padding: 13px;
    }

    #experience .card i {
        font-size: 17px;
    }

    #experience .card .title {
        font-size: 18px;
    }

    #experience .card .role {
        font-size: 15px;
    }

    #experience .card .timeframe {
        font-size: 13px;
    }

    #experience .card .timeframe i {
        font-size: 12px;
    }

    /* Projects */
    #projects .project .icon {
        width: 65px;
        height: 65px;
        border-radius: 6px;
    }
    
    #projects .project .info .title {
        font-size: 18px;
    }

    #projects .project .info .desc {
        font-size: 13px;
    }

    #projects .project .info .languages {
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    /* Reset & Base styles */
    body {
        padding: 15px 0;
    }

    /* Main styles */
    main {
        padding: 25px 25px;
    }

    /* Profile */
    #profile .picture {
        width: 115px;
        border-radius: 8px;
    }

    #profile .intro {
        font-size: 24px;
    }

    #profile .bio {
        font-size: 12px;
    }

    #profile .links {
        gap: 14px;
    }

    #profile .links .link {
        font-size: 16px;
    }

    /* Misc */
    .section-title {
        font-size: 24px;
    }

    .section-desc {
        font-weight: 400;
        font-size: 10px;
    }

    /* About Me */
    #about-me .card .text {
        font-size: 12px;
    }

    /* Experience */
    #experience .card i {
        font-size: 14px;
    }

    #experience .card .title {
        font-size: 16px;
    }

    #experience .card .role {
        font-size: 13px;
    }

    #experience .card .timeframe {
        font-size: 11px;
    }

    #experience .card .timeframe i {
        font-size: 10px;
    }

    /* Projects */
    #projects .info-container {
        display: block;
        margin-bottom: 10px;
    }

    #projects .info-container .sorting button {
        padding: 7px;
        font-size: 12px;
        border-radius: 2px;
    }

    #projects .project .icon {
        width: 45px;
        height: 45px;
        border-radius: 4px;
    }
    
    #projects .project .info .title {
        font-size: 15px;
    }

    #projects .project .info .desc {
        font-size: 11px;
    }

    #projects .project .info .languages {
        font-size: 8px;
    }
}